# Flask
FLASK_APP=app.py
FLASK_ENV=production
SECRET_KEY=change-this-to-a-secure-random-string

# MySQL Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=onlimo
DB_PASSWORD=onlimo
DB_NAME=onlimo

# Admin Credentials (default admin created on first run)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=has123456

# FTP Root Path
FTP_ROOT=/home/onlimo

# Application
APP_HOST=0.0.0.0
APP_PORT=9000