[Unit]
Description=Onlimo DLH Application
After=network.target mysql.service

[Service]
Type=simple
User=onlimo
Group=onlimo
WorkingDirectory=/opt/onlimo_dlh
EnvironmentFile=/opt/onlimo_dlh/.env
ExecStart=/opt/onlimo_dlh/venv/bin/gunicorn --workers 1 --bind 0.0.0.0:9000 --timeout 120 run:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target